@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Manrope:wght@200..800&display=swap');

@import 'tailwindcss';
@theme {
  --font-sans: 'Geist', sans-serif;
  --color-fail: rgba(237, 166, 158, 1);
  --color-red-light: rgba(255, 246, 245, 1);
  --color-fail-2: rgba(115, 58, 52, 1);
  --color-success-2: rgba(52, 115, 83, 1);
  --color-dark-red: rgba(125, 56, 56, 0.6);
  --color-success: rgba(154, 204, 179, 1);
  --color-black-100: #333333;
  --color-gray-150: rgba(0, 0, 0, 0.15);
  --color-gray-160: #f9fbfc;
  --color-gray-250: #e0e2e3;
  --color-gray-350: #d9d9d9;
  --color-gray-550: #6b7280;
  --color-gray-450: rgba(136, 136, 136, 1);
  --color-black-150: rgba(61, 61, 61, 1);
  --color-blue-250: rgba(5, 174, 238, 1);
  --color-black-light: rgba(51, 51, 51, 1);
  --color-gray-light: rgba(229, 229, 229, 1);
  --text-table: 13px;
  --color-gray-search: rgba(0, 0, 0, 0.35);
}

html,
body {
  font-family: 'Geist', sans-serif;
  color: var(--color-black-light);
  @media (prefers-color-scheme: light) {
    color-scheme: light;
    .bg-white {
      background-color: white;
    }
  }
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
    .bg-white {
      background-color: var(--color-black-150);
    }
    .bg-gray-50 {
      background-color: var(--color-gray-550);
    }
    .bg-gray-160 {
      background-color: var(--color-gray-300);
    }
  }
}
